<div class="cabecera-centrada">
  <div class="cabecera">
    <img class="uceva" src="../../assets/images/img.png" alt="uceva"/>
    <img src="../../assets/images/Line 14.png" alt="linea"/>
    <img class="curso" src="../../assets/images/curso.jpg" alt="Cabecera de la página"/>
    <div>
      <button class="my-button" onclick="location.href='http://localhost:4200/cursos/crear'">Crear</button>
      <button class="my-button" onclick="location.href='http://localhost:4200/cursos'">Listar</button>
    </div>
  </div>
</div>
