<!-- Estamos indicando que este formGroup (grupo de formulario) esta enlazado a cursoForm -->
<!-- El ngSubmit indica que ocurre si se da clic en submit: debe ocurrir si los datos de cursoForm no son invalidos y ademas debe crear el curso -->
<form [formGroup]="cursoForm" (ngSubmit)="!cursoForm.invalid && createCurso(cursoForm.value)">

  <!-- Esta clase sirve para envolver el formulario para darle estilos -->
  <div class="form-group">

    <!-- El for="nombre" le dice al label que es una etiqueta del input con id="nombre" -->
    <label for="nombre">Nombre del curso</label>

    <!-- El formControlName le pone nombre a este input para que sea reconocido como un atributo de la clase Curso, debe tener el mismo nombre que tiene en la clase Curso -->
    <!-- El for="nombre" le dice al label que es una etiqueta del input con id="nombre" -->
    <!-- El atributo "aria-describedby" se asocia a un elemento para referenciar un elemento secundario que contiene la descripción o información adicional. -->
    <input type="text" class="form-control" formControlName="nombre"  id="nombre" aria-describedby="cursoHelp" placeholder="Ingrese el nombre del curso">

    <!-- Este elemento tiene informacion del input. Esto permite que por ejemplo lectores de pantalla, proporcionen una descripción más completa del elemento.-->
    <small id="cursoHelp" class="form-text text-muted">Escriba el nombre del curso.</small>
  </div>

  <!-- el valid de cursoForm se usa para indicar si los campos del formulario cumplen con la validacion, si no es asi deshabilita el boton -->
  <button type="submit" class="btn btn-primary" [disabled]="!cursoForm.valid" >  Crear  </button>

  <!-- Si se presiona este boton se ejecuta el metodo cancelCreation -->
  <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()" > Cancelar </button>
</form>
