<div class="card">
  <div class="card-header">{{curso.id}}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead class="table-dark">
              <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">FACULTAD</th>

              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{curso.nombre}}</td>


              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
